input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes the margin in older versions of Chrome */
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}
