@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";
body{
    background-color: #212121;
    color: #fff;
}
.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
